.add-spendings {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.add-spendings-icon {
    display: inline-block;
    margin-left: 15px;
}

.add-spendings__inner {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add-spendings__input-title {
    color: #fff;
    margin-bottom: 0px;
}
.add-spendings__input {
    background: transparent;
    color: #fff;
    border: none;
    position: relative;
    padding: 12px 5px;
    font-size: 30px;
}
.add-spendings__input-wrap {
    position: relative;
}
.add-spendings__input-wrap:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0px;
    margin-right:auto;
    left: 0;
    right: 0;
    width: 85%;
    background: #fff;
}

.add-spendings__input::placeholder {
    color: #fff;
    font-size: 30px;
}

#add-new-spending {
    margin-top: 15px;
    color: #808080;
    background-color: #f2edf3;
    border: none;
    font-size: 18px;
}
#add-new-spending:hover {
    background-color: #3e4b5b;
    color: #fff;
}

#new_spending_category,
#new_spending_subcategory {
    background: #f2edf3;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    color: #808080;
    padding: 10px 12px;
    min-width: 350px;
}

.subcategories-wrap {
    display: none;
}


#radioBtn .notActive{
    color: #808080;
    background-color: #f2edf3;
}

.source-select {
    padding-top: 45px;
}

.source-select__wrap {
    padding-left: 0px;
    padding-right: 0px;
}

#radioBtn {
    width: 100%;
}

.source-select__btn {
    padding: 15px 5px;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: none;
}
.add-spendings__input-title-name,
.add-spendings__subcategory-title {
    margin-top: 35px;
}

@media (max-width: 575px) {
    .add-spendings__input {
        font-size: 20px;
    }
    .add-spendings__input::placeholder {
        font-size: 20px;
    }
    .add-spendings__inner-right,
    .add-spendings__inner-left {
        width: 100%;
    }
    .add-spendings__input-wrap::after {
        width: 100%;
    }
    #new_spending_category,
    #new_spending_subcategory {
        min-width: 0;
        width: 100%;
    }
    .pagination .pagination-prev,
    .pagination .pagination-current,
    .pagination .pagination-next {
        padding: 0.875rem 1.25rem;
    }
    .pagination .pagination-prev,
    .pagination .pagination-next {
        width: 135px;
        border-radius: 0.1875rem;
    }
    .add-spendings__inner {
        margin-top: 5px;
    }
    .add-spendings__input-title-name,
    .add-spendings__subcategory-title {
        margin-top: 15px;
    }
    .source-select {
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .grid-margin {
        margin-bottom: 1.5rem;
    }
    .breadcrumb-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-header__description {
        font-size: 12px;
        white-space: nowrap;
    }
    .breadcrumb {
        padding: 0 5px;
    }
    .page-header {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    .page-header .page-title .page-title-icon {
        margin-bottom: 0;
    }
}