.add-spendings {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.add-spendings-icon {
    display: inline-block;
    margin-left: 15px;
}

.add-spendings__inner {
    display: flex;
    margin-top: 25px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.add-spendings__input-title {
    color: #fff;
    margin-bottom: 0px;
}
.add-spendings__input {
    background: transparent;
    color: #fff;
    border: none;
    position: relative;
    padding: 12px 5px;
    font-size: 30px;
}
.add-spendings__input-wrap {
    position: relative;
}
.add-spendings__input-wrap:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0px;
    margin-right:auto;
    left: 0;
    right: 0;
    width: 85%;
    background: #fff;
}

.add-spendings__input::placeholder {
    color: #fff;
    font-size: 30px;
}

#add-new-spending {
    margin-top: 15px;
    color: #808080;
    background-color: #f2edf3;
    border: none;
    font-size: 18px;
}
#add-new-spending:hover {
    background-color: #3e4b5b;
    color: #fff;
}

#new_spending_category,
#new_spending_subcategory {
    background: #f2edf3;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    color: #808080;
    padding: 10px 12px;
    min-width: 350px;
}

.subcategories-wrap {
    display: none;
}


#radioBtn .notActive{
    color: #808080;
    background-color: #f2edf3;
}

.source-select {
    padding-top: 45px;
}

.source-select__wrap {
    padding-left: 0px;
    padding-right: 0px;
}

#radioBtn {
    width: 100%;
}

.source-select__btn {
    padding: 15px 5px;
    font-size: 16px !important;
    font-weight: 400 !important;
    border: none;
}
.add-spendings__input-title-name,
.add-spendings__subcategory-title {
    margin-top: 35px;
}


.add-spendings__category-slide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 5px 5px;
}

.add-spendings__category-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px;
    max-width: 60px;
    text-align: center;
    transition: all 0.325s;
}
.add-spendings__category-item.active .add-spendings__category-item-image {
    background-color: #fff;
    color: #FE7A96;
}
.add-spendings__category-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
}
.add-spendings__category-item-title {
    font-size: 14px;
    line-height: 21px;
    margin-top: 5px;
}
.add-spendings__category-subcategories {
    margin: 15px 0;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.add-spendings__category-subcategories-item {
    cursor: pointer;
    padding: 10px 5px;
    font-size: 18px;
    line-height: 21px;
}
.add-spendings__category-subcategories-item.active .add-spendings__category-subcategories-item-check-wrapper {
    background-color: #fff;
}
.add-spendings__category-subcategories-item.active .add-spendings__category-subcategories-item-check {
    color: #FE7A96;
}
.add-spendings__category-subcategories-item-check-wrapper {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.add-spendings__category-subcategories-item-check {
    font-size: 16px;
    color: #fff
}

.spendings-list {
    background-color: #fff;
    border-radius: 5px;
}
.spendings-list__title {
    color: #343a40;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-family: "ubuntu-medium", sans-serif;
    font-size: 1.125rem;    font-size: 1.125rem;
    padding: 20px;
    margin-bottom: 0;
}
.spendings-list__item {
    color: #3e4b5b;;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 15px 15px;
}
.spendings-list__item-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.spendings-list__item-right {
    text-align: right;
}
.spendings-list__item-image {
    background-color: #f2edf3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
}
.spendings-list__item-data {
    margin-left: 15px;
}
.spendings-list__item-category {
    margin-bottom: 3px;
}
.spendings-list__item-source {
    font-size: 14px;
    color: #7c8fa6;
    line-height: 19px;
    margin-bottom: 3px;
}
.spendings-list__item-date {
    font-size: 14px;
    color: #7c8fa6;
    line-height: 19px;
    margin-bottom: 5px;
}
.spendings-list__item-description {
    font-size: 14px;
    background-color: #f2edf3;
    line-height: 19px;
    border-radius: 6px;
    padding: 5px 10px;
    display: inline-block;
}
.spendings-list__item-sum {
    white-space: nowrap;
    font-size: 19px;
}
.spendings-list__item-delete {
    cursor: pointer;
    color: #90caf9;
    margin-top: 10px;
    font-size: 14px;
}

@media (max-width: 575px) {
    .add-spendings__input {
        font-size: 20px;
    }
    .add-spendings__input::placeholder {
        font-size: 20px;
    }
    .add-spendings__inner-right,
    .add-spendings__inner-left {
        width: 100%;
    }
    .add-spendings__input-wrap::after {
        width: 100%;
    }
    #new_spending_category,
    #new_spending_subcategory {
        min-width: 0;
        width: 100%;
    }
    .pagination .pagination-prev,
    .pagination .pagination-current,
    .pagination .pagination-next {
        padding: 0.875rem 1.25rem;
    }
    .pagination .pagination-prev,
    .pagination .pagination-next {
        width: 135px;
        border-radius: 0.1875rem;
    }
    .add-spendings__inner {
        margin-top: 5px;
    }
    .add-spendings__input-title-name,
    .add-spendings__subcategory-title {
        margin-top: 15px;
    }
    .source-select {
        padding-top: 15px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .grid-margin {
        margin-bottom: 1.5rem;
    }
}