.alert-popup {
  transform: translateY(-100%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px 45px;
  z-index: 3000;
  color: #ffffff;
  font-size: 24px;
  line-height: 34px;
  transition: transform 0.3s ease-in;
}

.alert-popup--active {
  transform: translateY(0);
}

.card-img-absolute {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#new_spending_category,
#new_spending_subcategory:hover {
  cursor: pointer;
}
