input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.investments {

}

.investments__input-wrapper {
    position: relative;
    margin-bottom: 15px;
}

.investments__input {
    display: inline-block;
    width: 100%;
    background: transparent;
    color: #fff;
    border: none;
    position: relative;
    padding: 12px 5px;
    font-size: 20px;
}
.investments__input-wrapper::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #ffffff;
}
.investments__input::placeholder {
    color: #fff;
    font-size: 20px;
}

.investments__suggested-tickers {
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.investments__suggested-ticker {
    background: #fff;
    border-radius: 6px;
    position: relative;
    padding: 10px 30px 10px 10px;
    color: rgba(52, 58, 64, 0.8);
    cursor: pointer;
    width: 100%;
}
.investments__suggested-ticker.active {
    background-color: #e5e5e5;
}
.investments__close-icon {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
.investments__suggested-ticker.active .investments__close-icon {
    display: inline-block;
}
.investments__close-icon:hover {
    color: #000000;
}
.investments__suggested-ticker+.investments__suggested-ticker {
    margin-top: 10px;
}
.investments__suggested-ticker:hover {
    background: #F2EDF3;
}

.investments__suggested-ticker-title {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5px;
}
.investments__suggested-ticker-symbol,
.investments__suggested-ticker-currency,
.investments__suggested-ticker-region {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.investments-added-card.card-body {
    padding: 1.25rem;
}
.investments-added-card__title {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 10px;
}
.investments-added-card__text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}
.investments-added-card__close-icon {
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.investments-added-card__close-icon:hover {
    color: #F2EDF3;
}